/*needs to be in same folder as html script*/
/*all of these set the default styles for the different tags in HTML, but they can be overridden by inline or internal stylesheets
those stylesheets are located inside the HTML script */

body {
    /*background-color: blue;*/
}

p {
    /*changes the color of the text */
    /*color: white;*/
    color: purple;
    background-color: black;
    /*makes two paragraph tags on the same line*/
    /*display: inline;*/
    /*makes the text dissapier, good for animations*/
    /*display: none;*/
}

h1 {
    margin-bottom: 50px;
}